:root {
  --bg-image: conic-gradient(at 0% 0%, snow, white);
  --bg-progress: hwb(0 100% 0% / 0.4);
  --bg-dialog: hwb(0 0% 100% / 0.75);

  --clr-progress-bar: hwb(0 0% 0%);
  --clr-font: hwb(0 100% 0% / 0.8);
  --clr-default-arrow: hwb(0 100% 0%);
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-image: var(--bg-image);
  color: var(--clr-font);
}

input[type="range"] {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

dialog {
  border: none;
  padding: 0;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

progress {
  background-color: var(--bg-progress);
}
