[data-state="hidden"] {
  display: none;
  --animation-state: paused;
}

[data-state="visible"] {
  display: block;
  --animation-state: running;
}

[data-state="play"] {
  background-image: url(./src/image/play-icon.png);
}

[data-state="pause"] {
  background-image: url(./src/image/pause-icon.png);
}

[data-state="large"] {
  background-image: url(./src/image/volume-lg-icon.png);
}

[data-state="medium"] {
  background-image: url(./src/image/volume-md-icon.png);
}

[data-state="sound"] {
  background-image: url(./src/image/volume-md-icon.png);
}

[data-state="mute"] {
  background-image: url(./src/image/volume-none-icon.png);
}

[data-state="forward"] {
  --clr-forward-arrow: var(--clr-default-arrow);
  --arrow-margin: auto -0.2rem;
  --forward-position: 0;

  @for $i from 1 through 3 {
    .arrow:nth-child(#{$i}) {
      --delay: #{200 * $i}ms;
      animation: arrowOpacity 600ms ease var(--delay, 0s) infinite;
      animation-play-state: var(--animation-state);
    }
  }
}

[data-state="backward"] {
  --clr-backward-arrow: var(--clr-default-arrow);
  --arrow-margin: -0.2rem auto;
  --backward-position: 6rem;

  @for $i from 1 through 3 {
    .arrow:nth-child(#{4 - $i}) {
      --delay: #{200 * $i}ms;
      animation: arrowOpacity 600ms ease var(--delay, 0s) infinite;
      animation-play-state: var(--animation-state);
    }
  }
}
