[data-state="hidden"] {
  display: none;
}

[data-state="visible"] {
  display: block;
}

[data-state="play"] {
  background-image: url(./src/image/play-icon.png);
}

[data-state="pause"] {
  background-image: url(./src/image/pause-icon.png);
}

[data-state="large"] {
  background-image: url(./src/image/volume-lg-icon.png);
}

[data-state="medium"] {
  background-image: url(./src/image/volume-md-icon.png);
}

[data-state="sound"] {
  background-image: url(./src/image/volume-md-icon.png);
}

[data-state="mute"] {
  background-image: url(./src/image/volume-none-icon.png);
}

[data-state="forward"] {
  --clr-forward-arrow: var(--clr-default-arrow);
  --arrow-margin: auto -0.2rem;
  --forward-position: 0;
}

@for $i from 1 through 3 {
  [data-order="#{$i}"] {
    animation: arrow-#{$i} 500ms ease;
  }
}

[data-state="backward"] {
  --clr-backward-arrow: var(--clr-default-arrow);
  --arrow-margin: -0.2rem auto;
  --backward-position: 6rem;
}
