.player {
  position: relative;

  &__poster {
    position: absolute;
    background-image: url(./src/image/poster.png);
    background-size: contain;
    background-repeat: no-repeat;
    inset: 0;
    pointer-events: none;
  }

  &__button {
    width: 30%;
    aspect-ratio: 1;
    background-size: contain;
  }
}
