*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  line-height: calc(1em + 0.5rem);
  text-rendering: optimizeSpeed;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip-ink: all;
  text-decoration-skip-ink: all;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  font-size: max(16px, 1rem);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Using below when you use framework */
/* #root, #__next {
  isolation: isolate;
} */
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --bg-image: conic-gradient(at 0% 0%, snow, white);
  --bg-progress: hwb(0 100% 0% / 0.4);
  --bg-dialog: hwb(0 0% 100% / 0.75);
  --clr-progress-bar: hwb(0 0% 0%);
  --clr-font: hwb(0 100% 0% / 0.8);
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-image: var(--bg-image);
  color: var(--clr-font);
}

input[type=range] {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

dialog {
  border: none;
  padding: 0;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

progress {
  background-color: var(--bg-progress);
}

[data-state=hidden] {
  display: none;
}

[data-state=visible] {
  display: block;
}

[data-state=play] {
  background-image: url(./src/image/play-icon.png);
}

[data-state=pause] {
  background-image: url(./src/image/pause-icon.png);
}

[data-state=large] {
  background-image: url(./src/image/volume-lg-icon.png);
}

[data-state=medium] {
  background-image: url(./src/image/volume-md-icon.png);
}

[data-state=sound] {
  background-image: url(./src/image/volume-md-icon.png);
}

[data-state=mute] {
  background-image: url(./src/image/volume-none-icon.png);
}

.player {
  position: relative;
}
.player__poster {
  position: absolute;
  background-image: url(./src/image/poster.png);
  background-size: contain;
  background-repeat: no-repeat;
  inset: 0;
  pointer-events: none;
}
.player__controls {
  position: absolute;
  inset: auto 0 0 0;
  display: flex;
  flex-wrap: wrap;
}
.player__button {
  padding: clamp(0.5rem, 2.5vw, 1rem) clamp(1rem, 4vw, 1.5rem);
  background-size: 45% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.player__volume {
  display: flex;
}
.player__slider {
  width: var(--slider-width, auto);
}
.player__slider[name=volume] {
  --slider-width: clamp(3rem, 15vw, 5rem);
}
.player__slider::-webkit-slider-runnable-track {
  background-color: #fff;
  height: 0.25rem;
}
.player__slider::-webkit-slider-thumb {
  --thumb-width: clamp(0.75rem, 3vw, 1rem);
  appearance: none;
  border: none;
  background-color: #fff;
  width: clamp(0.75rem, 3vw, 1rem);
  aspect-ratio: 1;
  border-radius: 50%;
  margin-block-start: calc((0.25rem - var(--thumb-width)) / 2);
}

.dialog {
  position: absolute;
  inset: -16vmin 0 auto auto;
  background-color: var(--bg-dialog);
  width: 30%;
}
.dialog__container {
  min-height: 15vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.dialog__title {
  font-size: 1rem;
}
@media (min-width: 37.5em) {
  .dialog {
    right: 1rem;
  }
}

.progress {
  flex: 1 0 100%;
  background-color: var(--bg-progress);
  height: 0.375rem;
  cursor: pointer;
  position: relative;
}
@media (min-width: 37.5em) {
  .progress {
    flex: 0 0 calc(100% - 2rem);
    margin-inline: auto;
  }
}
.progress[data-state=fake] {
  flex: 1 0 100%;
  background-color: var(--bg-progress);
  height: 0.375rem;
  cursor: pointer;
  position: relative;
}
@media (min-width: 37.5em) {
  .progress[data-state=fake] {
    flex: 0 0 calc(100% - 2rem);
    margin-inline: auto;
  }
}
.progress::-webkit-progress-bar {
  flex: 1 0 100%;
  background-color: var(--bg-progress);
  height: 0.375rem;
  cursor: pointer;
  position: relative;
}
@media (min-width: 37.5em) {
  .progress::-webkit-progress-bar {
    flex: 0 0 calc(100% - 2rem);
    margin-inline: auto;
  }
}
.progress::-webkit-progress-value {
  background-color: var(--clr-progress-bar);
}
.progress::after {
  content: "";
  position: absolute;
  inset: calc((0.375rem - clamp(0.75rem, 3vw, 1rem)) / 2) auto auto calc(var(--bar-width, 0%) - clamp(0.75rem, 3vw, 1rem) / 2);
  width: clamp(0.75rem, 3vw, 1rem);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--clr-progress-bar);
  transform: scale(0);
  transition: transform 200ms ease;
}
.progress:hover::after {
  transform: scale(1);
}
.progress__bar {
  display: inline-block;
  width: var(--bar-width, 0%);
  height: 100%;
  background-color: var(--clr-progress-bar);
}

@media (min-width: 37.5em) {
  .play-pause {
    margin-left: 1rem;
  }
}

.setting {
  margin-inline-start: auto;
  position: relative;
}
.setting::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(./src/image/setting-icon.png);
  padding: clamp(0.5rem, 2.5vw, 1rem) clamp(1rem, 4vw, 1.5rem);
  background-size: 45% auto;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(var(--degree, 0deg));
  pointer-events: none;
  transition: transform 200ms ease;
}

.fullscreen {
  background-image: url(./src/image/fullscreen-icon.png);
}
@media (min-width: 37.5em) {
  .fullscreen {
    margin-inline-end: 1rem;
  }
}

.decoration {
  width: 100%;
  border: none;
  height: 1px;
  background-color: var(--clr-font);
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
