.play-pause {
  @media (min-width: 37.5em) {
    margin-left: 1rem;
  }
}

.volume {
  width: 12.5%;
}

.setting {
  margin-inline-start: auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./src/image/setting-icon.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(var(--degree, 0deg));
    pointer-events: none;
    transition: transform 200ms ease;
  }
}

.fullscreen {
  @media (min-width: 37.5em) {
    margin-inline-end: 1rem;
  }
}

.decoration {
  width: 100%;
  border: none;
  height: 1px;
  background-color: var(--clr-font);
  opacity: 0.5;
}

.timer {
  margin-inline-start: 1rem;
  font-size: clamp(0.5rem, 2vw, .75rem);
}