.play-pause {
  @media (min-width: 37.5em) {
    margin-left: 1rem;
  }
}

.setting {
  margin-inline-start: auto;
  background-image: url(./src/image/setting-icon.png);
}

.fullscreen {
  background-image: url(./src/image/fullscreen-icon.png);

  @media (min-width: 37.5em) {
    margin-inline-end: 1rem;
  }
}

.decoration {
  width: 100%;
  border: none;
  height: 1px;
  background-color: var(--clr-font);
  opacity: .5;
}