.dialog {
  position: absolute;
  inset: -16vmin 0 auto auto;
  background-color: var(--bg-dialog);
  width: 30%;
  
  &__container {
    min-height: 15vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &__title {
    font-size: 1rem;
  }

  @media (min-width: 37.5em) {
    right: 1rem;
  }
}
